body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          
font-family: Arial, Helvetica, sans-serif;
font-variant: small-caps;
text-shadow: 2px 4px 10px red;



}

.salsa {
color: red;
}

ul {
list-style-type: none;
}

ol {
margin: 0;
padding: 0;
}


.cytat {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.Bóg {
  align-self: flex-end;
}

.cytat p {
  margin: 0;
}

.header,
.hero {
  display: flex;
  background-color: #1f2937;
  
}

.header ol {
  margin-left: auto;
}

.header {
  align-items: center;
  padding: 8px;
}

.hero {
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 32px;
}

.ps {
  max-width:400px;
}

#logo {
  font-family: 'Roboto', sans-serif;
  font-variant: normal;
  text-shadow: none;
  color: #f9faf8;
  font-size: 24px;
  text-decoration: none;
}

.header a {
  font-family: 'Roboto', sans-serif;
  font-variant: normal;
  text-shadow: none;
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

.p-one {

  font-family: 'Roboto', sans-serif;
  font-variant: normal;
  text-shadow: none;
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.p-two {
  font-family: 'Roboto', sans-serif;
  font-variant: normal;
  text-shadow: none;
  color: #e5e7eb;
  font-size: 18px;
}

.img p {
  margin: 0;
  color: #f9faf8;
}


.img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information {
  display: flex;
  justify-content: center;
  gap: 48px;
  padding: 5vw 5vh;
}

.information p {
  text-align: center;
  width: 125px;

}

.information .salsa,
.information .tortilla-wrap,
.information .sos-teriyaki {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information img {
  max-width: 125px;
}

.information-div {
  display: flex;
  flex-direction: column;
}

.top-space {
    display: flex;
    justify-content: center;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  font-variant: normal;
  text-shadow: none;
}

.call {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 350px;
}

.action {
  display: flex;
  height: 150px;
  background-color: #3882f6;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0px 10px;
  width: 600px;
}

.div-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.call button {
  color: white;
  background-color: #3882f6;
  height: 30px;
  align-self: flex-end;
  border-radius: 5px;
  font-weight: 900;
}

.text p {
  margin-bottom: 0;
}

